*{
background-color: #f0f0f0;
   color: #333333;
}
.filter {

  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 550px;
}

.filter select {
  margin-left: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter select:focus {
  outline: none;
  border-color: #007bff;
  /* Change color on focus if needed */
}

.filter select option {
  font-size: 16px;
}